{% load static %}
<html>
    <head>
        <title>Expenses</title>
        <link rel="stylesheet" href="{% static 'css/expenses.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
            <h1><a href="{% url 'expenses:record_list' %}">Expenses</a></h1>
        </div>
        
        <div class="content container">
            {% if user.is_authenticated %}
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expenses:import' %}">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expenses:export' %}">Export</a>
                </li>
            </ul>            
            <p>
                <a href="{% url 'expenses:record_new' %}">
                    <button type="button">レコード追加</button>
                </a>
                <a href="{% url 'expenses:record_list' %}">レコード一覧</a>
            </p>
            <p>
                <a href="{% url 'expenses:category_new' %}">
                    <button type="button">カテゴリ追加</button>
                </a>
                <a href="{% url 'expenses:category_list' %}">カテゴリ一覧</a>
            </p>
            <p>
                <a href="{% url 'expenses:payment_new' %}">
                    <button type="button">支払い方法追加</button>
                </a>
                <a href="{% url 'expenses:payment_list' %}">支払い方法一覧</a>
            </p>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>