{% extends 'expenses/base.html' %}

{% block content %}
<h2>Payment List</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>pk</th>
				<th>name</th>
				<th>削除</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
			<tr>
				<td>{{ payment.pk }}</td>
				<td><a href="{% url 'expenses:payment_edit' pk=payment.pk %}">{{ payment.name }}</a></td>
				<td><a class="btn btn-secondary" href="{% url 'expenses:payment_remove' pk=payment.pk %}">削除</a></td>
			</tr>
			{% endfor %}
		</tbody>
  </table>
</div>
{% endblock %}
