{% extends 'expenses/base.html' %}

{% block content %}
<div class="record">
    <table border="2">
        <tr>
            <th>日付</th>
            <th>金額</th>
            <th>カテゴリ</th>
            <th>支払い方法</th>
            <th>用途</th>
            <!-- <th>削除</th> -->
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.expense_date }}</td>
            <td><a href="{% url 'expenses:record_edit' pk=record.pk %}">{{ record.amount }}</a></td>
            <td>{{ record.category }}</td>
            <td>{{ record.payment }}</td>
            <td>{{ record.note }}</td>
            <!-- <td><a class="btn btn-default" href="{% url 'expenses:record_remove' pk=record.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td> -->
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
